

div {
    padding: 10px;
    position: static;
    border: 3px;
    color: black;
    width: 350px;
    border: 50px
    } 

body {
    width: 512px;
    } 
    

div {
    border: 3px black solid;
    margin: 15px;
    margin-left: 5px;
    margin-right: 5px;
    }  

p {
    background-position: center;
    }